<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BrunaVasconcelos_MyModule::feirantes_acn"
             title="Feirantes"
             translate="title"
             module="BrunaVasconcelos_MyModule"
             sortOrder="9999"
             action="feirantes_acn/teste/lista"
             resource="Magento_Backend::admin" />
    </menu>
</config>
